/* Main container */
body {
	/*background-color: #E9E9E9;*/
	padding-top: 55px;
}

.navbar-brand {
	 font-family: "CapitaLig", "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	 font-weight: bold;
}

/* Bootstrap Tooltips */
.tooltip-inner {
	text-align: left;
	max-width: none;
}
.tooltipper {
	display: inline-block;
    border-bottom: 4px double #bb0000;
}
.tooltip.tooltip-top, .tooltip.bs-tether-element-attached-bottom {
	margin-top: 10px;
}
/* Statistics */
.stat, .stat-alt {
	font-family: "CapitaLig", "Open-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.stat {
	color: #bb0000 !important;
}
.stat-alt {
	color: #aa0000 !important;
}
.stat0, #acronym {
	font-size: 128px;
}
.stat1 {
	font-size: 64px;
}
.stat2, #expansion {
	font-size: 48px;
}
.stat3 {
	font-size: 32px;
}
.stat4 {
	font-size: 18px;
}
#acronym, #expansion {
	font-family: 'CapitaLig'; 
	color: #bb0000;
}
.acro, .stat {
	cursor: default;
}
.acro.selected {
	font-weight: bold;
	text-decoration: underline;
}
/* History */
#band-guy {
	background: url("../img-p/band-guy.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 65px;
	display: inline-block;
}
#player {
	position: absolute;
	top: 120px;
	left: 31px;
	width: 38px;
	height: 40px;
	background-color: white;
	border-radius: 100%;
	border: 1px solid black;
	cursor: pointer;
}
#play {
    position: absolute;
    width: 22px;
    height: 30px;
	margin: 5px 8px;
    border-top: 15px solid transparent;
    border-left: 24px solid #aa0000;
    border-bottom: 15px solid transparent;
}
#play:hover {
	border-left: 25px solid #666666;
}
#pause {
    position: absolute;
    width: 21px;
    height: 30px;
	margin: 5px 8px;
    border-right: 8px solid #aa0000;
    border-left: 8px solid #aa0000;
}
#pause:hover {
    border-right: 9px solid #666666;
    border-left: 9px solid #666666;
}
/* People */
#genders {
	vertical-align: center;
	text-align: center;
}
#male {
	background: url("../img/M.png");
	width: 68px;
	margin: 0 30px 0 0;
}
#female {
	background: url("../img/F.png");
	width: 44px;
	background-repeat: no-repeat;
	margin: 0 auto;
}
#male, #female {
	background-size: contain;
	height: 100px;
	display: inline-block;
}
#engineering {
	background: url("../img/engineering.png");
}
#music {
	background: url("../img/music.png");	
}
#engineering, #music{
	background-size: contain;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	display: inline-block;
}
#majors {
	text-align: center;
	vertical-align: center;
	max-width: 250px;
}
.borderless td, .borderless th {
    border: none;
	padding: 0;
}
table.borderless {
	margin: 0 auto;
}
/* Instruments - Dynamic Donut Pie Chart */
#instruments-pie {
	width: 660px;
	height: 450px;
}
svg {
	width: 100%;
	height: 100%;
}
path.slice {
	stroke-width: 2px;
}
polyline {
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
.labelValue {
	font-size: 60%;
	opacity: .5;
}
.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
/* Instruments - Dynamic Instruments Chart */
#instruments-chart {
	width: 460px;
	height: 450px;
}
.instrument-0 { background: url("../img/instruments/0.png"); height: 70px }
.instrument-1 { background: url("../img/instruments/1.png"); height: 70px; }
.instrument-2 { background: url("../img/instruments/2.png"); height: 70px; }
.instrument-3 { background: url("../img/instruments/3.png"); height: 70px; }
.instrument-4 { background: url("../img/instruments/4.png"); height: 50px; }
.instrument-5 { background: url("../img/instruments/5.png"); height: 95px; }
.instrument-6 { background: url("../img/instruments/6.png"); height: 70px; }
.instrument-7 { background: url("../img/instruments/7.png"); height: 70px }
.instrument-8 { background: url("../img/instruments/8.png"); height: 70px; }
.instrument-9 { background: url("../img/instruments/9.png"); height: 80px; }
.instrument-10 { background: url("../img/instruments/10.png"); height: 90px; }
.instrument {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
    width: 100%;
	margin: 2px auto;
	text-align: center;
	display: block;
}